:root {
    --bg-card: #6F2232;
    --border: 4px solid #1A1A1D;
    --border-radius: 30px;
    --hover-social: #c3073F;
    --transition: all 0.4s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top:  6vw;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #fdf3f3;
    background: #4E4E50;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    background: var(--bg-card);
    border: var(--border);
    border-radius: var(--border-radius);
}

.button:hover {
    background: var(--hover-social);
}