.header {
    
}
.header__about {
    display: flex;
    gap: 45px;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-card);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 15px 30px;
    margin: 50px 0;
}
.about__avatar {
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    border: var(--border);
}
.about__avatar img{
    width: 100%;
}
.about__inner {

}
.about__inner-text {
    margin-bottom: 20px;
    
}

.about__inner-text {
    
    margin-bottom: 20px;
}

.about__skill {
}
.skill__text {
}
.skill__list {
}
.skill__item {
}