body {
	color: rgb(255, 255, 255);
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	background: #181E34;

}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: 0.7s;
}

a:hover{
	color: rgb(125, 178, 228);
}

.btn-box:hover{
	color: #fff;
	box-shadow: #fff 3px 3px 7px;
}

.container {
	max-width: 930px;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.header_nav {
	display: flex;
	align-items: center;
	padding: 30px 0 36px;
}

.header_nav--logo {}

.header_nav--menu {
	display: flex;
	margin-left: auto;

}

.menu-link {
	margin-right: 30px;
}

.menu-link:last-child {
	margin-right: 34px;
}

.header_nav--button {
	color: rgb(39, 102, 174);
	background: #fff;
	padding: 14px 30px;
	border-radius: 50px;
	transition: 0.7s;
}

.header_nav--button:hover{
	color: rgb(39, 102, 174);
	background: rgb(212, 230, 255);
	box-shadow: #fff 3px 3px 7px;
	transition: 0.7s;
}

/* ============================================================= */

.main {}

.main_up {
	background: url('../img/bg-main-up.jpeg') 0 0 / cover no-repeat;
	padding: 120px 0;
}

.mein_up--title {
	font-size: 40px;
	font-weight: 600;
	line-height: 49px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.mein_up--hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mein_up--hero-left {
	max-width: 436px;
}

.mein_up--hero-text {}

.mein_up--hero-text p {
	margin-bottom: 15px;
}

.mein_up--hero-text p:last-child {
	margin-bottom: 0;
}

.mein_up--hero-text span {
	color: rgb(1, 162, 203);
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}

.mein_up--hero-right {
	max-width: 320px;
	width: 100%;
}

.mein_up--hero-btn {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	justify-content: center;
	padding: 18px 30px 18px 30px;
	border-radius: 100px;
	background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);
	margin-bottom: 10px;
}

.img-click {
	margin-left: 4px;
}

.hero-button {
	background: linear-gradient(129.14deg, rgb(0, 164, 204) 5.913%, rgb(39, 102, 174) 91.534%);
	margin-bottom: 0;
}

/* ============================================================ */

.main-bottom {
	margin: 110px 0;
}

.main_bottom--inner {
	text-align: center;
	max-width: 513px;
	margin: 0 auto 60px;
}

.main_bottom--title {
	font-size: 40px;
	font-weight: 600;
	line-height: 49px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.main_bottom--taxt {}

.main_bottom--cards {
	display: flex;
	flex-wrap: wrap;
	margin: -14px;
}

.card {
	padding: 14px;
	flex: 0 0 25%;
}

.flax-cards {
	background: rgb(25, 124, 184);
	border: 2px solid rgb(23, 107, 174);
	border-radius: 16px;
	box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
	padding: 28px 15px;
	text-align: center;
}

.card h3 {
	font-size: 22px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
}

.main_bottom--btn {
	margin: 30px auto 10px;
	max-width: 436px;
}

/* ==================================================================== */

.footer {
	border-top: 1px solid rgb(50, 57, 82);
	;
}

.footer_item {
	display: flex;
	margin: 60px 0;
}

.footer_laft {
	max-width: 267px;
	margin-right: auto;
}

.footer_laft--logo {
	margin-bottom: 15px;
}

.footer_laft--taxt {}

.footer_right {
	width: 100%;
}

.footer_right--column {
	display: flex;
}

.column_one {
	margin-left: auto;
	/* после этого почему то заработало */
}

.column_one, .column_two {
	max-width: 204px;
	width: 100%;

}

.colomn_title {
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
}

.colom_link {
	margin-bottom: 10px;
}

.colom_link:last-child {
	margin-bottom: 0;
}