body {
	color: rgb(37, 40, 43);
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	background: rgb(248, 252, 255);

}

.container {
	max-width: 1230px;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
	padding: 0 15px;
}

/* ================================================================== */

.header {
	line-height: 150%;
}

.header_inner {
	min-height: 108px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-content: center;
	align-items: center;
}

.nav {}

.nav_list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.nav_item {}

.header_logo {}

.header_social {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: end;
}

.header_item {}

/* =================================================================== */



.hero {
	padding: 120px 0;
	position: relative;
}

.hero__inner {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.hero__title {
	color: rgb(248, 252, 255);
	font-size: 52px;
	font-weight: 600;
	line-height: 150%;
	margin-bottom: 30px;
}

.hero__list {
	color: rgb(248, 252, 255);
	font-size: 24px;
	font-weight: 400;
	line-height: 150%;

}

.hero__list-item {
	align-items: center;
	display: flex;
	margin-bottom: 15px;
	gap: 19px;
	transition: 0.4s;
}

.hero__list-item path {
	transition: 0.4s;
}


.hero__list-item:last-child {
	margin-bottom: 040px;
}

.hero__list-item:hover {
	color: rgb(29, 111, 182);
}

.hero__list-item:hover path {
	fill: rgb(29, 111, 182);
}

.hero__btn {}

.button {
	padding: 18px 30px;
	max-width: 288px;
	width: 100%;
	height: 56px;
	background: #d0dce7;
	border-radius: 100px;

	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(29, 111, 182);
	font-weight: 500;
	font-style: 16px;
	transition: 0.4s;
}

.button:hover {
	background: rgb(131, 173, 211);
	color: rgb(248, 252, 255);
}

.hero_video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.hero_video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero_video::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(16, 46, 73, 0.8);
}

/* =================================================================== */

.main__general {
	padding: 120px 0;
}

.main__wrapper {
	display: flex;
	gap: 30px;
	justify-content: space-between;
}

.main__body {
	width: 100%;
	max-width: 792px;
}

.sidebar {
	padding: 30px;
	border: 2px solid rgb(208, 220, 231);
	max-width: 282px;
	width: 100%;
	height: 1170px;

	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.sidebar__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sidebar__item {}

.sidebar__link {
	transition: .4s;
}

.sidebar__link:hover {
	color: rgb(29, 111, 182);
}

/* ============================================================= */

.main__body {}

.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: dense;
	gap: 24px;
	font-weight: 500;
	line-height: 20px;
	color: rgb(248, 252, 255);
	width: 792px;
	margin-bottom: 120px;
}

.gallery__img {
	display: block;
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
}

.gallery__img img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.gallery__img--laft {
	grid-column: 1/3;
	grid-row: span 2;
}

.gallery__img--right {
	grid-column: -1/-3;
	grid-row: span 2;
}

.gallery__hint {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(29, 111, 182, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 53px;
	transition: 0.5s;
	transform: translateY(100%);
}

.gallery__img--laft .gallery__hint,
.gallery__img--right .gallery__hint {
	font-size: 24px;
	line-height: 29px;
	height: 108px;
}

.gallery__img:hover .gallery__hint {
	transform: translateY(0%);
}

/* ============================================================= */

.shop {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.shop__watch {}

.shop__watch-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 116px;
	border: 1px solid rgb(208, 220, 231);
	border-top: none;
}

.shop__watch-img {
	display: block;
	position: relative;
	overflow: hidden;
	padding-bottom: 62%;
}

.shop__watch-img img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.shop__watch-hint {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	min-width: 33.9%;
	height: 56px;
	left: 0;
	right: 254px;
	top: 30px;
	bottom: 268px;
	border-radius: 0px 100px 100px 0px;
	background: rgb(248, 252, 255);
	color: rgb(29, 111, 182);
	font-weight: 500;
	line-height: 20px;
	/* transform: translateX(-100%);
	transition: all 0.5s; */

	animation: watch-hint-action 2.5s alternate infinite;
}

@keyframes watch-hint-action {
	0% {
		min-width: 33.9%;
	}
	66.6666% {
		min-width: 33.9%;
	}
	100% {
		min-width: 37.3%;
	}
}

/* .shop__watch:hover .shop__watch-hint{
	transform: translateX(0%);
} */

/* ==================================================================== */

.footer {
	height: 80px;
	background: rgb(120, 128, 136);
}

.protection {
	display: flex;
	justify-content: center;
	align-items: center;: ;
	padding: 30px 0;
	color: rgb(248, 252, 255);
	line-height: 20px;
	gap: 10px;
	
}
